
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h1>Gestió de Pokemons</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Pokemons</h2>
            <span><a href="/pokemons/create">Crear pokemon</a></span>
            <ul class="product-list">
                <% data.pokemons.forEach(pokemon => { %>
                    <li class="product-item">
                        <strong><%= pokemon.name %></strong>
                        <span>Type: <%= pokemon.type %></span>
                        <span>Generation: <%= pokemon.generation %></span>
                        <span><a href="/pokemons/<%=pokemon.id %>">Detall pokemon</a></span>
                        <span><a href="/pokemons/edit_pokemon/<%=pokemon.id %>">Editar pokemon</a></span>
                        <form action="/pokemons/<%= pokemon.id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit"
                                onclick="return confirm('Estàs segur que vols eliminar <%= pokemon.name %>?');">
                                Eliminar
                            </button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
</body>
</html>
