<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <h1>Gestió de Videogames</h1>
        <h2><%- htmlMessage %></h2>
    </header>
    <main>
        <section>
            <h2>Llista de Videogames</h2>
            <span><a href="/videogames/create">Crear Videogame</a></span>
            <ul class="product-list">
                <% data.videogames.forEach(videogame=> { %>
                    <li class="product-item">
                        <strong>
                            <%= videogame.name %>
                        </strong>
                        <span>Type: <%= videogame.type %></span>
                        <span>Creator: <%= videogame.creator %></span>
                        <span><a href="/videogames/<%=videogame.id %>">Detall videogame</a></span>
                        <span><a href="/videogames/edit_videogame/<%=videogame.id %>">Editar videogame</a></span>
                        <form action="/videogames/<%= videogame.id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit"
                                onclick="return confirm('Estàs segur que vols eliminar <%= videogame.name %>?');">
                                Eliminar
                            </button>
                        </form>
                    </li>
                    <% }) %>
            </ul>
        </section>
    </main>
</body>

</html>
